<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HomePage</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>

<body>

    <div class="d-flex flex-row">

        <div class="ChatsBody vh-100 d-flex flex-column border-end" style="border-width: 1px; width: 400px; background-color: #470323">

            <!-- region Панель поиска и профиля -->
                <div class="Navigation px-3 pt-3 d-flex flex-row align-items-center justify-content-between">
                <button class="d-flex me-2 align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#exampleModal" style="border: none; outline: none; background-color: inherit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white"
                         class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </button>
                <!-- region Модальное окно профиля -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header d-flex flex-column justify-content-center align-items-center">
                                    <a href="/static" class=""><img src="/static/images/Avatar.png" alt="Avatar"
                                                                    width="100" height="100"
                                                                    class="rounded-circle">
                                    </a>
                                    <div class="UserInfo my-3 d-flex flex-column justify-content-center align-items-center">
                                        <h4 class="m-0 mb-1">UserName</h4>
                                        <p class="m-0 mt-1" style="font-size: smaller">UserEmail</p>
                                    </div>
                                </div>

                                <div class="modal-body">
                                    <button class="MenuItem d-flex flex-row align-items-center justify-content-start" style="border: none; outline: none; background-color: inherit">
                                        <img src="/static/images/chat-square-dots.svg" alt="Avatar" width="20" height="20"
                                             class="me-2">
                                        <p class="m-0">Создать групповой чат</p>
                                    </button>
                                </div>

                                <div class="modal-footer d-flex justify-content-center">
                                    <p class="text-secondary" style="font-size: smaller">Company name</p>
                                </div>
                            </div>
                        </div>
                    </div>
                 <!-- endregion -->

                <input type="search" name="q" class="form-control" value="" placeholder="Search..." aria-label="Search">
            </div>
            <!-- endregion -->

            <!-- region Чаты и диалоги -->
                <div class="Chats my-3" style="overflow-y: scroll;">

                <!-- Чат 1 -->
                <div class="Chat px-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="ChatInformation d-flex flex-row align-items-center justify-content-between">
                        <a href="/static" class="me-2">
                            <img src="/static/images/Avatar.png" alt="Avatar" width="55" height="55"
                                 class="rounded-circle">
                        </a>
                        <div class="ChatInfo me-4 d-flex flex-column justify-content-center">
                            <h6 class="m-0" style="color: white">ChatName 1</h6>
                            <p class="m-0 mt-1" style="font-size: small; color: white">Latest message in chat</p>
                        </div>
                    </div>
                    <div class="Time d-flex justify-content-center align-items-start">
                        <p style="color: white">00:00</p>
                    </div>

                </div>

                <!-- Чат 2 -->
                <div class="Chat px-3 my-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="ChatInformation d-flex flex-row align-items-center justify-content-between">
                        <a href="/static" class="me-2">
                            <img src="/static/images/Avatar.png" alt="Avatar" width="55" height="55"
                                 class="rounded-circle">
                        </a>
                        <div class="ChatInfo me-4 d-flex flex-column justify-content-center">
                            <h6 class="m-0" style="color: white">ChatName 2</h6>
                            <p class="m-0 mt-1" style="font-size: small; color: white">Latest message in chat</p>
                        </div>
                    </div>
                    <div class="Time d-flex justify-content-center align-items-start">
                        <p style="color: white">00:00</p>
                    </div>

                </div>

                <!-- Чат 3 -->
                <div class="Chat px-3 my-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="ChatInformation d-flex flex-row align-items-center justify-content-between">
                        <a href="/static" class="me-2">
                            <img src="/static/images/Avatar.png" alt="Avatar" width="55" height="55"
                                 class="rounded-circle">
                        </a>
                        <div class="ChatInfo me-4 d-flex flex-column justify-content-center">
                            <h6 class="m-0" style="color: white">ChatName 3</h6>
                            <p class="m-0 mt-1" style="font-size: small; color: white">Latest message in chat</p>
                        </div>
                    </div>
                    <div class="Time d-flex justify-content-center align-items-start">
                        <p style="color: white">00:00</p>
                    </div>

                </div>

                <!-- Чат 4 -->
                <div class="Chat px-3 my-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="ChatInformation d-flex flex-row align-items-center justify-content-between">
                        <a href="/static" class="me-2">
                            <img src="/static/images/Avatar.png" alt="Avatar" width="55" height="55"
                                 class="rounded-circle">
                        </a>
                        <div class="ChatInfo me-4 d-flex flex-column justify-content-center">
                            <h6 class="m-0" style="color: white">ChatName 4</h6>
                            <p class="m-0 mt-1" style="font-size: small; color: white">Latest message in chat</p>
                        </div>
                    </div>
                    <div class="Time d-flex justify-content-center align-items-start">
                        <p style="color: white">00:00</p>
                    </div>

                </div>

                <!-- Чат 5 -->
                <div class="Chat px-3 my-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="ChatInformation d-flex flex-row align-items-center justify-content-between">
                        <a href="/static" class="me-2">
                            <img src="/static/images/Avatar.png" alt="Avatar" width="55" height="55"
                                 class="rounded-circle">
                        </a>
                        <div class="ChatInfo me-4 d-flex flex-column justify-content-center">
                            <h6 class="m-0" style="color: white">ChatName 5</h6>
                            <p class="m-0 mt-1" style="font-size: small; color: white">Latest message in chat</p>
                        </div>
                    </div>
                    <div class="Time d-flex justify-content-center align-items-start">
                        <p style="color: white">00:00</p>
                    </div>

                </div>

                <!-- Чат 6 -->
                <div class="Chat px-3 my-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="ChatInformation d-flex flex-row align-items-center justify-content-between">
                        <a href="/static" class="me-2">
                            <img src="/static/images/Avatar.png" alt="Avatar" width="55" height="55"
                                 class="rounded-circle">
                        </a>
                        <div class="ChatInfo me-4 d-flex flex-column justify-content-center">
                            <h6 class="m-0" style="color: #BFAE1F">ChatName 6</h6>
                            <p class="m-0 mt-1" style="font-size: small; color: #BFAE1F">Latest message in chat</p>
                        </div>
                    </div>
                    <div class="Time d-flex justify-content-center align-items-start">
                        <p style="color: #BFAE1F">00:00</p>
                    </div>

                </div>

                <!-- Чат 7 -->
                <div class="Chat px-3 my-3 d-flex flex-row align-items-center justify-content-between" style="background-color: #8C4164">
                    <div class="ChatInformation d-flex flex-row align-items-center justify-content-between">
                        <a href="/static" class="me-2">
                            <img src="/static/images/Avatar.png" alt="Avatar" width="55" height="55"
                                 class="rounded-circle">
                        </a>
                        <div class="ChatInfo me-4 d-flex flex-column justify-content-center">
                            <h6 class="m-0" style="color: white">ChatName 7</h6>
                            <p class="m-0 mt-1" style="font-size: small; color: white">Latest message in chat</p>
                        </div>
                    </div>
                    <div class="Time d-flex justify-content-center align-items-start">
                        <p style="color: white">00:00</p>
                    </div>

                </div>

                <!-- Чат 8 -->
                <div class="Chat px-3 my-3 d-flex flex-row align-items-center justify-content-between" style="background-color: #8C4164">
                    <div class="ChatInformation d-flex flex-row align-items-center justify-content-between">
                        <a href="/static" class="me-2">
                            <img src="/static/images/Avatar.png" alt="Avatar" width="55" height="55"
                                 class="rounded-circle">
                        </a>
                        <div class="ChatInfo me-4 d-flex flex-column justify-content-center">
                            <h6 class="m-0" style="color: #BFAE1F">ChatName 8</h6>
                            <p class="m-0 mt-1" style="font-size: small; color: #BFAE1F">Latest message in chat</p>
                        </div>
                    </div>
                    <div class="Time d-flex justify-content-center align-items-start">
                        <p style="color: #BFAE1F">00:00</p>
                    </div>

                </div>

                <!-- Чат 9 -->
                <div class="Chat px-3 d-flex flex-row align-items-center justify-content-between" style="background-color: #BFAE1F">
                    <div class="ChatInformation d-flex flex-row align-items-center justify-content-between">
                        <a href="/static" class="me-2">
                            <img src="/static/images/Avatar.png" alt="Avatar" width="55" height="55"
                                 class="rounded-circle">
                        </a>
                        <div class="ChatInfo me-4 d-flex flex-column justify-content-center">
                            <h6 class="m-0" style="color: white">ChatName 9</h6>
                            <p class="m-0 mt-1" style="font-size: small; color: white">Latest message in chat</p>
                        </div>
                    </div>
                    <div class="Time d-flex justify-content-center align-items-start">
                        <p style="color: white">00:00</p>
                    </div>

                </div>

            </div>
            <!-- endregion -->

        </div>

        <div class="MessageBody vh-100 justify-content-between d-flex flex-column flex-fill">

            <!-- region Информация о чате -->
                <div class="MessageInfo py-3 ps-3 d-flex flex-row align-items-center justify-content-between" style="background-color: #470323;">
                    <h5 class="m-0 p-0" style="color: white;">ChatName</h5>
                    <button class="d-flex me-2 align-items-center justify-content-center" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; outline: none; background-color: inherit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"
                             class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                        </svg>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdown03">
                        <li><a class="dropdown-item" href="/static">Профиль</a></li>
                        <li><a class="dropdown-item" href="/static">Очистить историю</a></li>
                        <li><a class="dropdown-item" href="/static">Удалить чат</a></li>
                    </ul>
                </div>
            <!-- endregion -->

            <!-- region Окно сообщений -->
                <div class="Messages p-3 d-flex flex-fill align-items-end justify-content-start" style="background-color: #8C4164">
{#                 class="Messages d-flex flex-fill align-items-center justify-content-center"#}
{#                    <div class="InformationMessage p-3 border d-flex align-items-center justify-content-center" style="border-radius: 10px; background-color: white;">#}
{#                        <p class="m-0">There's nothing here yet... Write first</p>#}
{#                    </div>#}
                    <div class="MessageBlock d-flex flex-row align-items-end">
                        <a href="/static" class="me-2"><img src="/static/images/Avatar.png" alt="Avatar" width="30" height="30"
                                                            class="rounded-circle">
                        </a>
                        <div class="MessageAndTime p-2 d-flex flex-row align-items-center justify-content-between border" style="background-color: white; border-radius: 10px">
                            <p class="m-0 me-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquam cum deserunt dignissimos, ducimus eum facilis illo labore magni molestias nisi quasi quibusdam ratione reiciendis reprehenderit, temporibus, ut. Magni?</p>
                            <p class="m-0 d-flex justify-self-center align-self-end" style="font-size: smaller">00:00</p>
                        </div>
                    </div>
                </div>
            <!-- endregion -->

            <!-- region Ввод сообщения -->
                <div class="MessageTools p-2 d-flex flex-row align-items-center justify-content-between" style="background-color: #470323">
                    <input type="text" name="MessageText" class="form-control" style="border: none; outline: none; background-color: #470323; color: white" placeholder="Write message...">
                    <button class="d-flex me-2 align-items-center justify-content-center" style="border: none; outline: none; background-color: inherit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"
                             class="bi bi-send" viewBox="0 0 16 16">
                            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                        </svg>
                    </button>
                </div>
            <!-- endregion -->

        </div>

    </div>

</body>
</html>