<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HomePage</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <style>
        ::-webkit-scrollbar {
            width: 0;
        }
    </style>
</head>

<body>

    <div class="d-flex flex-row">

        <div class="ChatsBody vh-100 d-flex flex-column border-end" style="border-width: 1px; width: 400px; background-color: #470323">

            <!-- region Панель поиска и профиля -->
                <div class="Navigation px-3 pt-3 d-flex flex-row align-items-center justify-content-between">
                <button class="d-flex me-2 align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#exampleModal" style="border: none; outline: none; background-color: inherit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white"
                         class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </button>
                <!-- region Модальное окно профиля -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">

                                <div class="modal-header d-flex flex-column justify-content-center align-items-center">
                                    <img src="{{ url_for('useravatar') }}" alt="Avatar"
                                                                  width="100" height="100"
                                                                  class="rounded-circle">
                                    <div class="UserInfo my-3 d-flex flex-column justify-content-center align-items-center">
                                        <h4 class="m-0 mb-1">{{ user.name }}</h4>
                                        <p class="m-0 mt-1" style="font-size: smaller">{{ user.email }}</p>
                                    </div>
                                </div>

                                <div class="modal-body">

                                    <!-- Кнопка создания группового чата -->
                                    <button class="MenuItem d-flex flex-row align-items-center justify-content-start" data-bs-toggle="modal" data-bs-target="#GroupChatModal" style="border: none; outline: none; background-color: inherit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                             fill="currentColor" class="me-2 bi bi-chat-square-dots" viewBox="0 0 16 16">
                                            <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                            <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                        </svg>
                                        <p class="m-0 text-center">Создать групповой чат</p>
                                    </button>

                                    <!-- Кнопка смены фото профиля -->
                                    <button class="MenuItem mt-2 d-flex flex-row align-items-center justify-content-start" data-bs-toggle="modal" data-bs-target="#ChangePhotoModal" style="border: none; outline: none; background-color: inherit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                             fill="currentColor" class="me-2 bi bi-person-bounding-box" viewBox="0 0 16 16">
                                            <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
                                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                        </svg>
                                        <p class="m-0">Изменить/удалить фото профиля</p>
                                    </button>

                                    <!-- Кнопка выхода из профиля -->
                                    <button class="MenuItem mt-2 d-flex flex-row align-items-center justify-content-start" onclick="window.location.href='/logout'" style="border: none; outline: none; background-color: inherit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                             fill="darkred" class="me-1 bi bi-box-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                            <path fill-rule="evenodd"
                                                  d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                        </svg>
                                        <p class="m-0" style="color: darkred">Выйти</p>
                                    </button>

                                </div>

                                <div class="modal-footer d-flex justify-content-center">
                                    <p class="text-secondary" style="font-size: smaller">Company name</p>
                                </div>

                            </div>
                        </div>
                    </div>
                 <!-- endregion -->

                <!-- region Модальное окно смены фото профиля -->
                    <div class="modal fade" id="ChangePhotoModal" tabindex="-1" aria-labelledby="ChangePhotoModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">

                                <div class="modal-header d-flex justify-content-center align-items-center">
                                    <h5 class="modal-title me-2" id="InterlocutorModalLabel">Фото профиля</h5>
                                </div>

                                <div class="modal-body d-flex flex-column align-items-center justify-content-center">

                                    <!-- Profile picture image-->
                                    <div class="d-flex flex-column align-items-center">
                                        <img class="img-account-profile rounded-circle mb-2"
                                             src="{{ url_for('useravatar') }}" alt="" width="315"
                                             height="315">
                                        <a href="{{ url_for('removeavatar') }}" class="text-danger"
                                           style="text-decoration: none;">Удалить фото профиля?</a>
                                    </div>
                                    <!-- Profile picture help block-->
                                    <div class="small font-italic text-muted mb-2 mt-4">Размер фото
                                        не более 5 MB
                                    </div>
                                    <form action="{{ url_for('upload') }}" method="post"
                                          enctype="multipart/form-data" class="d-flex flex-row">
                                        <div class="text-center me-2">
                                            <input name="file" type="file" id="file"
                                                   class="input input__file"
                                                   style="opacity: 0; visibility: hidden; position: absolute;">
                                            <label for="file"
                                                   class="input__file-button border border-primary p-2"
                                                   style="border-radius: 10px">
                                                <span class="input__file-icon-wrapper mr-1 text-primary">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" fill="currentColor"
                                                         class="bi bi-upload input__file-icon" viewBox="0 0 16 16">
                                                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                                        <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                                                    </svg>
                                                </span>
                                                <span class="input__file-button-text text-primary">Выберите файл</span>
                                            </label>
                                        </div>
                                        <input type="submit" class="btn btn-primary"
                                               value="Загрузить">
                                    </form>

                                </div>

                                <div class="modal-footer d-flex justify-content-start">
                                    <p class="text-secondary" style="font-size: smaller">Company name</p>
                                </div>

                            </div>
                        </div>
                    </div>
                <!-- endregion -->

                <!-- region Модальное окно создания группового чата -->
                    <div class="modal fade" id="GroupChatModal" tabindex="-1" aria-labelledby="GroupChatModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <form action="{{ url_for('creatingChat') }}" method="POST">
                                    <div class="modal-header d-flex flex-column justify-content-center align-items-start">

    {#                                    <div class="d-flex flex-row align-self-stretch justify-content-between align-items-center">#}
    {#                                        <h5 class="modal-title me-2" id="InterlocutorModalLabel">Групповой чат</h5>#}
    {#                                        <button type="button" class="btn-close" data-bs-dismiss="modal"#}
    {#                                                aria-label="Close"></button>#}
    {#                                    </div>#}
                                        <div class="ProfileNameInfo mt-3 d-flex flex-row align-items-center justify-content-start">
                                            <div class="d-flex flex-column justify-content-center align-items-start">
                                                <h5 class="m-0 mb-1">Название чата</h5>
                                                <input type="text" name="ChatNameCreate" id="ChatNameCreate" class="m-0 mt-1 rounded" style="border: none; outline: none; background-color: white;" placeholder="Введите название"></div>
                                        </div>

                                    </div>

                                    <div class="modal-body">

                                        {% for item in all_user %}

                                            <div class="form-check m-0 my-1 p-0 d-flex flex-row-reverse align-items-center justify-content-between">
                                                <input class="form-check-input" type="checkbox" name="{{ item[1] }}" value="" id="UserInChatCheck_{{ item[0] }}">
                                                <label class="form-check-label" for="UserInChatCheck_{{ item[0] }}">
                                                    <div class="Chat d-flex flex-row align-items-center justify-content-between">
                                                        <div class="ChatInformation d-flex flex-row align-items-center justify-content-between">

                                                            <img src="{{ url_for('getuseravatar', useremail=item[1]) }}"
                                                                 alt="Avatar" width="55" height="55"
                                                                 class="me-2 rounded-circle">
                                                            <div class="ChatInfo me-4 d-flex flex-column justify-content-center align-items-start">
                                                                <h6 class="m-0">{{ item[1] }}</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>

                                        {% endfor %}

                                    </div>

                                    <div class="modal-footer d-flex justify-content-between">
                                        <p class="text-secondary" style="font-size: smaller">Company name</p>
                                        <div class="d-flex flex-row align-items-center">
                                            <button type="button" class="me-2 btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                            <button type="submit" class="btn btn-primary">Создать</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                 <!-- endregion -->

                <input type="search" name="q" class="form-control" value="" placeholder="Search..." aria-label="Search">
            </div>
            <!-- endregion -->

            <!-- region Чаты и диалоги -->
                <div class="Chats my-3" style="overflow-y: scroll;">


                <!-- Чат -->
                {% for item in myChat %}
                    <form method="POST" action="{{ url_for('homepage', chat_id=item[0]) }}">
                        <button class="Chat px-3 d-flex flex-row align-items-center justify-content-between" style="border: none; outline: none; background-color: inherit">
                            <div class="ChatInformation d-flex flex-row align-items-center justify-content-between">
                                <a href="/" class="me-2">
                                    <img src="{{ url_for('getuseravatar', useremail=item[1]) }}" alt="Avatar" width="55" height="55"
                                         class="rounded-circle">
                                </a>
                                <div class="ChatInfo me-4 d-flex flex-column justify-content-center align-items-start">

                                    <h6 class="m-0" style="color: white">{{ item[1] }}</h6>

                                    <p class="m-0 mt-1" style="font-size: small; color: white">
                                        {% if item[2] == None %}{{ 'пусто' }}{% else %}{{ item[2] }}{% endif %}</p>
                                </div>
                            </div>

                            <div class="Time d-flex justify-content-center align-items-start">
                                <p style="color: white">
                                    {% if item[3] == None %}{{ '' }}{% else %}{{ item[3][11:16] }}{% endif %}</p>
                            </div>
                        </button>
                    </form>
                {% endfor %}

            </div>
            <!-- endregion -->

        </div>

        <div class="MessageBody vh-100 justify-content-between d-flex flex-column flex-fill">
            {% if name == '' %}
                <div class="Messages p-3 d-flex flex-fill align-items-center justify-content-center" style="background-color: #8C4164; overflow-y: scroll;">
                    <div class="InformationMessage p-3 border d-flex align-items-center justify-content-center"
                         style="border-radius: 10px; background-color: white;">
                        <p class="m-0">Выберете, кому бы вы хотели написать</p>
                    </div>
                </div>
            {% else %}

                <!-- region Информация о чате -->
                    <div class="MessageInfo py-3 ps-3 d-flex flex-row align-items-center justify-content-between" style="background-color: #470323;">
                        <h5 class="m-0 p-0" style="color: white;">{{ name[0] }}</h5>
                        <button class="d-flex me-2 align-items-center justify-content-center" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; outline: none; background-color: inherit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"
                                 class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                            </svg>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                            <li>
                                <button class="dropdown-item d-flex align-items-center justify-content-start" data-bs-toggle="modal" data-bs-target="#interlocutorModal"
                                        style="border: none; outline: none; background-color: inherit">
                                   Профиль
                                </button>
                            </li>
                        </ul>
                        <!-- region Модальное окно профиля собеседника -->
                                <div class="modal fade" id="interlocutorModal" tabindex="-1" aria-labelledby="InterlocutorModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">

                                            <div class="modal-header d-flex flex-column justify-content-center align-items-start">

                                                <div class="d-flex flex-row align-self-stretch justify-content-between align-items-center">
                                                    <h5 class="modal-title me-2" id="InterlocutorModalLabel">Информация</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="ProfileNameInfo mt-3 d-flex flex-row align-items-center justify-conten-start">
                                                    <a href="/" class="me-3"><img src="{{ url_for('getuseravatar', useremail=companion.email) }}"
                                                                              alt="Avatar"
                                                                              width="100" height="100"
                                                                              class="rounded-circle">
                                                    </a>
                                                    <div class="d-flex flex-column justify-content-center align-items-start">
                                                        <h4 class="m-0 mb-1">{{ companion.name }}</h4>
                                                        <p class="m-0 mt-1 text-secondary" style="font-size: smaller">{{ companion.email }}</p>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="modal-body">

                                                <!-- Информация о телефоне собеседника -->
                                                <div class="d-flex flex-row align-items-center justify-content-start" style="border: none; outline: none; background-color: inherit">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                         fill="currentColor" class="me-2 bi bi-telephone"
                                                         viewBox="0 0 16 16">
                                                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                                    </svg>
                                                    <div class="info">
                                                        <p class="m-0" style="font-size: medium">{{ companion.telephone }}</p>
                                                        <p class="m-0 text-secondary" style="font-size: smaller">Phone number</p>
                                                    </div>

                                                </div>

                                                <!-- Информация о логине собесебника -->
                                                <div class="d-flex mt-2 flex-row align-items-center justify-content-start" style="border: none; outline: none; background-color: inherit">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                         fill="currentColor" class="me-2 bi bi-info-circle"
                                                         viewBox="0 0 16 16">
                                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                                    </svg>
                                                    <div class="info">
                                                        <p class="m-0" style="font-size: medium">{{ companion.login }}</p>
                                                        <p class="m-0 text-secondary" style="font-size: smaller">Login</p>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="modal-footer d-flex justify-content-start">
                                                <p class="text-secondary" style="font-size: smaller">Company name</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- endregion -->
                    </div>
                <!-- endregion -->

                <!-- region Окно сообщений -->
                        {% if not message %}
                            <div class="Messages p-3 d-flex flex-fill align-items-center justify-content-center" style="background-color: #8C4164">
                                <div class="InformationMessage p-3 border d-flex align-items-center justify-content-center" style="border-radius: 10px; background-color: white;">
                                    <p class="m-0">Здесь еще ничего нет... Напиши первым!</p>
                                </div>
                            </div>
                        {% else %}

                                <div class="Messages p-3 d-flex flex-column flex-fill align-items-start justify-content-end" style="background-color: #8C4164">
                                    <!-- Сообщение 1 -->
                                    {% for mes in message %}
                                    <div class="MessageBlock my-1 d-flex flex-row align-items-end">
                                        <a href="/" class="me-2"><img src="{{ url_for('getuseravatar', useremail=mes[2]) }}" alt="Avatar" width="30" height="30"
                                             class="rounded-circle">
                                        </a>
                                        <div class="MessageAndTime p-2 d-flex flex-row align-items-center justify-content-between border" style="background-color: white; border-radius: 10px">
                                            <p class="m-0 me-3">{{ mes[3] }}</p>
                                            <div class="m-0 d-flex flex-column align-self-stretch justify-content-between align-items-center">
                                                <form action="{{ url_for('deletemessage') }}" method="post">
                                                    <button type="submit" name="submit" value="{{ mes[0] }}" class="mt-1 d-flex justify-self-center" style="border: none; outline: none; background-color: inherit">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="darkred"
                                                             class="bi bi-trash3" viewBox="0 0 16 16">
                                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                                        </svg>
                                                    </button>
                                                </form>
                                                <p class="m-0 d-flex justify-self-center" style="font-size: smaller">{{ mes[4][11:16] }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                        {% endif %}
                <!-- endregion -->

                <!-- region Ввод сообщения -->
                    <form action="{{ url_for('sendmessage', chat_id=chat_id) }}" method="post" class="MessageTools p-2 d-flex flex-row align-items-center justify-content-between" style="background-color: #470323">
                        <input type="text" name="MessageText" class="form-control" style="border: none; outline: none; background-color: #470323; color: white" placeholder="Напишите сообщение...">
                        <button type="submit" class="d-flex me-2 align-items-center justify-content-center" style="border: none; outline: none; background-color: inherit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"
                                 class="bi bi-send" viewBox="0 0 16 16">
                                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                            </svg>
                        </button>
                    </form>
                <!-- endregion -->

            {% endif %}


        </div>

    </div>

</body>
</html>
