{% extends 'bases/FormBase.html' %}

{% block title %}

    Регистрация

{% endblock %}

{% block content %}

    <div class="FormSideReg d-flex flex-row align-items-center justify-content-between border">

        <!-- Форма регистрации -->
        <form class="w-100 d-flex flex-column align-items-center" method="POST" action="">

            <h1 class="h3 mb-3 fw-normal" style="color: #470323;">Регистрация</h1>

            <div class="card-body">

                    <!-- Form Row -->
                    <div class="row gx-3 mb-2">

                        <!-- Имя -->
                        <div class="form-floating col-md-6 m-0">
                            <input class="form-control" id="name" name="name" type="text" value='{{ message[1]['name'] }}'
                                   placeholder="Имя">
                            <label for="name">Имя</label>
                        </div>

                        <!-- Логин -->
                        <div class="form-floating col-md-6 m-0">
                            <input class="form-control" id="login" name="login" type="text" value='{{ message[1]['login'] }}'
                                   placeholder="Логин">
                            <label for="login">Логин</label>
                        </div>

                        <!-- Фамилия-->
{#                        <div class="form-floating col-md-6 m-0">#}
{#                            <input class="form-control" id="lastname" name="lastname" type="text"#}
{#                                   placeholder="Фамилия">#}
{#                            <label for="lastname">Фамилия</label>#}
{#                        </div>#}

                    </div>

                    <!-- Телефон -->
                    <div class="form-floating mb-2 input-group flex-nowrap">
                        <span class="input-group-text border-start" id="addon-wrapping" style="border-top-left-radius: 30px; border-bottom-left-radius: 30px;">+7</span>
                        <input class="form-control" id="phone" name="phone" type="text" value='{{ message[1]['phone'] }}'
                               placeholder="Номер телефона" aria-describedby="addon-wrapping" maxlength="10" minlength="10">
                    </div>

                    <!-- Email -->
                    <div class="form-floating ">
                        <input class="form-control" id="reg_email" name="reg_email" type="text" value='{{ message[1]['email'] }}'
                               placeholder="name@example.com">
                        <label for="reg_email">Email</label>
                    </div>

                    <!-- Пароль -->
                    <div class="form-floating mb-2">
                        <input class="form-control" id="reg_password" name="reg_password" type="password" value='{{ message[1]['password'] }}'
                               placeholder="Пароль">
                        <label for="reg_password">Пароль</label>
                    </div>

                    <!-- Подтверждение пароля -->
                    <div class="form-floating mb-2">
                        <input class="form-control" id="confirm_password" name="confirm_password" type="password"
                               placeholder="Подтверждение пароля">
                        <label for="confirm_password">Подтверждение пароля</label>
                    </div>
            </div>

            <!-- Кнопка регистрации -->
            <button class="w-100 mt-1 btn btn-lg" style="border-radius: 30px; background-color: #BFAE1F; color: white;"
                    name="submit" type="submit">Зарегистрироваться
            </button>

            <!-- region Вывод сообщений об ошибках -->
            <div class="Messages mt-4">
                {% for error in message[0] %}
                    <h6 style="color: red;">Ошибка: {{ message[0][error] }}</h6><br>
                {% endfor %}
            </div>
            <!-- endregion -->

            <!-- Переход на страницу авторизации -->
            <div class="form-text text-center mt-4 text-dark">Есть аккаунт? <a href="Authorization.html" class="fw-bold" style="text-decoration: none; color: #BFAE1F;">Авторизация</a>
            </div>
            <p class="mt-4 mb-3 text-muted">© 2017–2022</p>
        </form>

    </div>

{% endblock %}
